<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TestCalc/src/de/unistgt/ipvs/vs/ex1/testCalc/CalcTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.unistgt.ipvs.vs.ex1.testCalc.CalcTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="SCKT"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TestCalc"/>
</launchConfiguration>
